.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f4f4f4;
  height: 100vh;
}

h2 {
  font-family: 'Georgia', serif;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}
