/* General page styling */
.about-page {
  padding: 40px;
  background-color: #f4f4f4f2;
  text-align: center;
  border-radius: 8px;
  margin: 25px 40px 40px 40px;
  background-image: 'public/background-web.mp4';
}

.about-page h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

/* Carousel container for alignment */
.carousel-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Individual carousel item styling */
.carousel-item {
  background-color: #ffffff00;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.carousel-item:hover {
  transform: translateY(-5px);
}

/* Image styling */
.carousel-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Title styling */
.carousel-item h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

/* Description styling */
.carousel-item p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  text-align: justify;
}

/* Responsive styles */
@media (max-width: 768px) {

  .about-page {
    margin: 0px 20px 20px 20px;
    padding: 20px;
  }

  .carousel-container {
    flex-direction: column;
    align-items: center;
  }

  .carousel-item {
    width: 90%;
  }

  .carousel-item img {
    height: 180px;
  }
}
