/* src/components/AccountPage.css */

.account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 600px; /* Increased width for better alignment */
  margin: auto;
  background-color: #ffffff; /* White background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.account-header {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.account-details,
.account-password {
  width: 100%;
  margin-bottom: 20px;
}

.account-details h2,
.account-password h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.account-input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.account-button {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF; /* Blue button color */
  color: white;
  cursor: pointer;
  text-align: center;
}

.account-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.account-error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.edit-button,
.save-button {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF; /* Blue button color */
  color: white;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

.edit-button:hover,
.save-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
