/* AdminNavBar.css */
.admin-navbar {
    display: flex;
    flex-direction: column;
    background-color: #333; /* or your preferred background color */
  }
  
  .admin-nav-link {
    color: white;
    padding: 15px;
    text-decoration: none;
  }
  
  .admin-nav-link.active {
    background-color: #555; /* or your preferred active link color */
  }
  
  .admin-content {
    padding: 20px;
  }
  
  /* AdminContainer.css */
  .admin-container {
    display: flex;
  }
  