@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/* src/components/Contact.css */
.contact-container {
  font-family: "Poppins";
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}

.contact-input {
  /* margin-bottom: 16px; */
}

.contact-button {
  margin-top: 16px;
}

.contact-status {
  margin-top: 16px;
  text-align: center;
}

@media (max-width: 768px) {
  .contact-container {
    margin: 0px 20px 20px 20px;
  }
}