/* src/components/CountdownTimer.css */
.countdown-timer {
    position: absolute; /* Position it absolutely */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position */
    text-align: center;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0); /* Semi-transparent background for better readability */
    color: whitesmoke; /* Change text color to smokewhite */
    /* padding: 10px; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0); /* Add shadow for depth */
}

.countdown-timer span {
    margin: 0 5px;
}

.countdown-timer h2 {
    font-size: 1.75rem;
    margin-bottom: 10px; /* Space below the title */
}
