.footer-container {
  background-color: #383838;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
  width: 100%;
  position: relative;
  z-index: 0;
  flex-shrink: 0;
}

/* Makes sure app layout supports footer at bottom */
body,
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Sitemap section */
.footer-sitemap {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.footer-sitemap ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.footer-sitemap ul li {
  font-size: 14px;
}

.footer-sitemap ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-sitemap ul li a:hover {
  text-decoration: underline;
}

/* Bottom row: Contact and Copyright */
.footer-bottom {
  margin-top: 15px;
  font-size: 12px;
}

.footer-theme-toggle {
  margin: 15px auto 0;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  background-color: #222;
  color: white;
  border: 2px solid #555;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.footer-theme-toggle:hover {
  background-color: #111;
  transform: scale(1.05);
}

/* Light Mode Fixes */
body.light .footer-theme-toggle {
  background-color: black;
  color: white;
  border: 2px solid #555;
}

body.light .footer-theme-toggle:hover {
  background-color: #333;
}