.home-container {
  /* padding: 20px; */
  background-color: #f8f9fa;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
}

.welcome-message {
  color: #333;
  margin-bottom: 30px;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-section {
  margin-bottom: 30px;
  max-width: 100%;
  width: 100%;
}

.home-image {
  width: 100%; /* Make the image responsive */
  max-width: 100%; /* Ensure it doesn't overflow */
  height: auto; /* Maintain aspect ratio */
  /* border-radius: 8px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.home-image.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.home-paragraph {
  font-size: 1.125rem;
  color: #6c757d;
  /* margin-top: 15px; */
  line-height: 1.6;
}

/* Video Styles */
.video-container {
  position: relative; /* Position relative for the countdown timer overlay */
  /* margin: 30px 0; Add margin to space the video from other elements */
  max-width: 100%; /* Match the max width of other sections */
  width: 100%; /* Make it responsive */
}

.coming-soon-video {
  width: 99.87%; /* Make the video responsive */
  border-radius:5px; /* Match the image border radius */
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 1.0); /* Match the image box shadow */
}

@media (max-width: 768px) {
  .home-paragraph {
    font-size: 1rem;
    margin-top: 10px;
  }
}
