.home-container {
  background-color: #f8f9fa;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
}

.welcome-message {
  color: #333;
  margin-bottom: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-section {
  margin-bottom: 30px;
  max-width: 100%;
  width: 100%;
}

.home-image {
  width: 100%; /* Responsive width */
  max-width: 600px; /* Limit maximum width */
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.home-image.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.home-paragraph {
  font-size: 1.125rem;
  color: #6c757d;
  line-height: 1.6;
}

/* Video Styles */
.video-container {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.coming-soon-video {
  width: 99.87%;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 1.0);
}

@media (max-width: 768px) {
  .home-paragraph {
    font-size: 1rem;
    margin-top: 10px;
  }
}
