/* Home Container */
.home-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
  min-height: 100vh; /* Ensure it always takes up full viewport height */
}

/* Video Container */
.video-container {
  position:relative;
  flex: 1; /* Allow it to grow and fill available space */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent overflow of video elements */
}

/* Video Element */
.coming-soon-video {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures video fills the container */
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

/* Fading in the active video */
.coming-soon-video.fade-in {
  opacity: 1;
}

/* Fading out the inactive video */
.coming-soon-video.fade-out {
  opacity: 0;
}

/* Footer Styles */
.footer-container {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  flex-shrink: 0; /* Ensure the footer doesn't shrink */
}

/* Mobile-Specific Adjustments */
@media (max-width: 768px) {
  .video-container {
    height: auto;
  }
}