/* Ensure the body and html elements take up the full height */
html, body {
  height: 100%;
  margin: 0;
  transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transition for background and text colors */
}

/* Home container takes full height and uses flexbox */
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container takes up at least the full height of the viewport */
  background-color: #f8f9fa;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
}

/* Video container should take available space */
.video-container {
  position: relative;
  max-width: 100%;
  width: 100%;
  flex: 1; /* Makes the video container take available space */
  will-change: opacity; /* Improve transition smoothness */
}

/* Video styles */
.coming-soon-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1.5s ease-in-out, z-index 0s linear 1.5s; /* Smooth transition for opacity */
  opacity: 0;
  pointer-events: none; /* Prevents interaction with the inactive video */
  z-index: -1; /* Initially behind the active video */
  will-change: opacity; /* Optimize for opacity transition */
}

.coming-soon-video.fade-in {
  opacity: 1;
  z-index: 1; /* Brings the active video in front */
}

.coming-soon-video.fade-out {
  opacity: 0;
  z-index: 0; /* Keeps the inactive video behind */
}

/* Light mode and dark mode video toggle */
.light-mode .video-container .video-dark,
.dark-mode .video-container .video-light {
  opacity: 0; /* Hide the non-active video */
}

.dark-mode .video-container .video-dark,
.light-mode .video-container .video-light {
  opacity: 1; /* Show the active video */
  transition: opacity 1.5s ease-in-out; /* Smooth transition for opacity */
}

/* Footer styles */
footer {
  margin-top: auto; /* Pushes footer to the bottom */
  background-color: #333; /* Dark background */
  color: white;
  padding: 20px;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .home-paragraph {
    font-size: 1rem;
    margin-top: 10px;
  }
}
