/* src/components/ItemDetail.css */
.item-detail-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .item-detail-image {
    max-width: 100%;
    height: auto;
  }
  
  .item-detail-info {
    text-align: center;
    margin-top: 20px;
  }
  
  .item-detail-info h1 {
    margin-bottom: 10px;
  }
  
  .item-detail-info p {
    margin: 5px 0;
  }
  