.item-detail-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.item-detail-main {
  display: flex;
  align-items: flex-start;
  gap: 20px; /* Space between main image and details */
}

.gallery-main {
  flex: 1;
}

.main-image {
  width: 100%;
  height: auto;
  max-width: 600px; /* Max width for main image */
  border: 1px solid #ddd;
}

.gallery-thumbnails {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.thumbnail {
  width: 100px;
  height: auto;
  cursor: pointer;
  margin: 5px 0;
  border: 1px solid #ddd;
}

.thumbnail.active {
  border: 2px solid blue;
}

.item-detail-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.item-detail-price {
  font-size: 1.5rem;
  color: green;
}

.item-detail-add-to-cart,
.item-detail-remove-from-cart {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.item-detail-add-to-cart:hover,
.item-detail-remove-from-cart:hover {
  background-color: darkblue;
}

.cart-message {
  margin-top: 10px;
  font-size: 0.9rem;
}

.cart-message a {
  color: blue;
  text-decoration: underline;
}
