/* src/components/ItemDetail.css */
.item-detail-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.item-detail-gallery {
  display: flex;
}

.gallery-main {
  flex: 1;
}

.magnify-container {
  position: relative;
}

.magnify-container.magnify .main-image {
  transform: scale(2);
  transform-origin: center center;
}

.main-image {
  width: 100%;
  height: auto;
}

.gallery-thumbnails {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 60px;
  height: auto;
  cursor: pointer;
  margin: 5px 0;
}

.thumbnail.active {
  border: 2px solid blue;
}

.item-detail-info {
  margin-top: 20px;
}

.item-detail-price {
  font-size: 1.5rem;
  color: green;
}

.item-detail-add-to-cart {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
