/* Modal for enlarged image */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

/* Modal close button */
.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  color: #b0b0b0; /* Neutral gray color for better contrast */
  font-size: 30px;
  border: none;
  cursor: pointer;
  z-index: 1001; /* Ensure the close button appears above modal content */
}

/* For light mode */
body.light .modal-close {
  color: #b0b0b0; /* Neutral gray button in light mode */
}

/* For dark mode */
body.dark .modal-close {
  color: #b0b0b0; /* Neutral gray button in dark mode */
}

/* Modal content */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 1000px;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* For dark mode - modal background */
body.dark .modal-content {
  background-color: #333; /* Dark background for modal content in dark mode */
  color: white; /* Ensure text is white on dark background */
}
