/* src/components/NavBar.css */

.navbar {
  display: flex;
  justify-content: space-between; /* Space out items */
  align-items: center;
  padding: 0 20px;
  background-color: #333;
  color: white;
  height: 60px;
}

.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar .menu {
  display: flex;
}

.navbar .menu button {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar li {
    margin: 10px 0;
  }

  .navbar .menu button {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
  }
}
