/* General styles for the navbar */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0); /* Transparent background */
  padding: 20px;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 1000;
}

/* Styles for the logo */
.navbar-logo {
  margin-bottom: 20px; /* Space between logo and nav links */
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

.logo-img {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: contain;
}

/* Styles for the navigation links */
.navbar-links {
  display: flex;
  justify-content: space-around; /* Space out links evenly */
  width: 100%;
  max-width: 800px;
}

.nav-link {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 5px;
  /* transition: background-color 0.3s ease, color 0.3s ease; */
}

.nav-link:hover {
  background-color: #55555500;
  color: #fff;
}

/* Adjust logo size and padding for mobile view */
@media (max-width: 767px) {
  .navbar {
    padding: 10px;
  }

  .navbar-logo {
    margin-bottom: 15px;
    width: 90%;
  }

  .logo-img {
    width: 100%;
    height: auto;
    max-height: 80vh;
  }

  .navbar-links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .nav-link {
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #fff;
  }
}
