/* src/components/NavBar.css */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #64646415;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative; /* Ensure proper stacking context */
}

.navbar h1 {
  margin-bottom: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.nav-link {
  color: rgb(39, 18, 202);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #cbcbcb;
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
  }
  
  .logo {
    margin-right: auto; /* Push the logo to the left */
  }
  
  .nav-links {
    flex-direction: row;
    gap: 1rem;
    position: static; /* Default positioning for landscape mode */
  }
}

@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    margin-bottom: 1rem; /* Space between the logo and links in portrait mode */
  }

  .nav-links {
    position: static; /* Reset positioning for portrait mode */
    flex-direction: column;
    align-items: center;
  }
}
