/* src/components/NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #dededed6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.navbar-logo .logo-image {
  height: 100px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links a {
  color: #000000;
  text-decoration: none;
  font-size: 1.0rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.logout-button {
  background: none;
  border: none;
  color: #820000;
  font-size: 1rem;
  cursor: pointer;
}

.logout-button:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .navbar-links {
    flex-direction: column;
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-logo {
    text-align: center;
  }
}
