/* General styles for the navbar */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 1000;
}

/* Styles for the logo */
.navbar-logo {
  margin-bottom: 10px;
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.logo-img {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: contain;
}

/* Styles for the navigation links */
.navbar-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
}

.nav-link {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  padding: 15px 12px;
  border-radius: 5px;
}

.nav-link:hover {
  color: #1d5160;
}

.nav-link.active {
  color: #1d5160;
}

/* Dropdown menu for mobile view */
.navbar-menu-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

/* Centering the "Menu" text and dropdown icon */
.menu-toggle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menu-label {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
}

.nav-icon {
  padding-right: 6px;
}

.menu-arrow-icon {
  width: 24px;
  height: 24px;
  margin-top: 5px;
  transition: transform 0.3s ease;
}

/* Rotate the arrow icon when menu is open */
.navbar-menu-container .menu-arrow-icon {
  transform: rotate(180deg);
}

/* Mobile view styles */
@media (max-width: 767px) {
  .navbar {
    padding: 10px;
  }

  .navbar-logo {
    margin-bottom: 5px;
    width: 70%;
  }

  .logo-img {
    width: 100%;
    height: auto;
    max-height: 80vh;
  }

  .navbar-menu-container {
    display: flex;
    margin-bottom: 10px;
    background-color: #00000000;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 2000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
  }

  .navbar-links.open {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  .nav-link {
    font-size: 16px;
    width: 100%;
    text-align: center;
  }

  .nav-link.active {
    background-color: #ededed;
  }

  .nav-signout {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
  }

  .nav-signout:hover {
    background-color: #ededed;
  }
}
