/* src/components/NavBar.css */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #64646415;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar h1 {
  margin-bottom: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
}

.nav-link {
  color: rgb(39, 18, 202);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #cbcbcb;
}

/* Media query for mobile devices */
@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
    gap: 1rem;
  }
}
