/* NavBar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #cbcbcb;
}

.bi-cart {
  font-size: 24px;
  color: #333;
}

/* Logout Link Specific Styles */
.logout-link {
  cursor: pointer;
  color: rgb(39, 18, 202);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.logout-link:hover {
  background-color: #cbcbcb;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .nav-link, .logout-link {
    padding: 10px 15px;
    font-size: 16px;
  }

}
