/* General styles for the navbar */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1000;
  padding: 20px;
}

/* Background video styling - Default (light mode) */
.navbar-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire area */
  object-position: center; /* Centers the video */
  z-index: -1;
  opacity: 0.4; /* Default opacity for light mode */
}

/* Dark Mode - Override background video opacity */
body.dark .navbar-background {
  opacity: 0.13; /* Opacity for dark mode */
}

/* Styles for the logo */
.navbar-logo {
  margin-bottom: 10px;
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.logo-img {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: contain;
}

/* Styles for the navigation links */
.navbar-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
}

.nav-link {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  padding: 15px 12px;
  border-radius: 5px;
}

.nav-link:hover {
  color: #1d5160;
}

.nav-link.active {
  color: #1d5160;
}

/* Dropdown menu for mobile view */
.navbar-menu-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  border: none;
  padding-bottom: 20px;
}

.menu-toggle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menu-arrow-icon {
  width: 27px;
  height: 27px;
  margin: -8.4px;
  transition: transform 0.3s ease;
}

.menu-arrow-icon.open {
  transform: rotate(180deg); /* Only rotates to 180 degrees */
}

/* Mobile view styles */
@media (max-width: 767px) {
  .navbar {
    padding: 10px;
  }

  .navbar-logo {
    margin-bottom: 5px;
    width: 70%;
  }

  .logo-img {
    width: 100%;
    height: auto;
    max-height: 80vh;
  }

  .navbar-menu-container {
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .navbar-links.open {
    max-height: 500px;
    background-color: rgba(39, 37, 42, 0.95);
  }

  .nav-link {
    font-size: 14px;
    padding: 8px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
  }

  .nav-link.active,
  .nav-link:hover {
    color: #ffe100;
  }
}

@media (min-width: 768px) {
  .navbar-links {
    display: flex;
    justify-content: center;
  }

  .nav-link {
    font-size: 16px;
  }
}
