/* General styles for the navbar */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0); /* Transparent background */
  padding: 20px;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 1000;
}

/* Styles for the logo */
.navbar-logo {
  margin-bottom: 20px; /* Space between logo and nav links */
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

.logo-img {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: contain;
}

/* Styles for the navigation links */
.navbar-links {
  display: flex;
  justify-content: space-around; /* Space out links evenly */
  width: 100%;
  max-width: 800px;
}

.nav-link {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #55555500;
  color: #1d5160;
}

/* Dropdown menu for mobile view */
.navbar-menu-container {
  display: none; /* Hide the menu container by default (non-mobile view) */
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.menu-label {
  font-size: 18px;
  margin-bottom: 5px;
}

.menu-arrow-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease; /* Smooth transition for the arrow icon */
}

.navbar-menu-toggle.open .menu-arrow-icon {
  transform: rotate(180deg); /* Rotate the arrow icon when open */
}

/* Mobile view styles */
@media (max-width: 767px) {
  .navbar {
    padding: 10px;
  }

  .navbar-logo {
    margin-bottom: 15px;
    width: 90%;
  }

  .logo-img {
    width: 100%;
    height: auto;
    max-height: 80vh;
  }

  .navbar-menu-container {
    display: flex; /* Show the menu container on mobile */
    margin-bottom: 10px;
  }

  .navbar-links {
    display: none; /* Hide the links by default on mobile */
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 100%; /* Position below the menu button */
    left: 0;
    width: 100%;
    background-color: white; /* Background color for dropdown */
    z-index: 2000; /* Ensure dropdown is above other content */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
    opacity: 0; /* Start hidden for animation */
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px); /* Move dropdown slightly up before display */
  }

  .navbar-links.open {
    display: flex;
    opacity: 1; /* Show dropdown */
    transform: translateY(0); /* Move dropdown to its position */
  }

  .nav-link {
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #fff;
    width: 100%;
    text-align: center;
  }

  .nav-link:first-child {
    margin-top: 10px; /* Add space between menu button and first link */
  }
}
