/* General styles for the navbar */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1000;
  padding: 20px;
  width: 100%;
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
}

/* Styles for the logo */
.navbar-logo {
  margin-bottom: 10px;
  width: 100%;
  max-width: 800px; /* Prevent logo from stretching too wide */
  padding: 20px;
  z-index: -999;
  text-align: center;
}

.logo-img {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: contain;
  z-index: -999;
}

/* Styles for the navigation links */
.navbar-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 700px; /* Ensure navbar links fit within the screen width */
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out; /* Smooth transition for menu */
}

/* Dropdown menu for mobile view */
.navbar-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  border: none;
  padding-bottom: 20px;
}

.menu-toggle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Menu arrow rotation */
.menu-arrow-icon {
  width: 27px;
  height: 27px;
  margin: -8.4px;
  transition: transform 0.3s ease; /* Smooth transition */
}

/* Default state for arrow (downwards) */
.menu-arrow-icon.closed {
  transform: rotate(0deg); /* Arrow points down */
}

/* Rotate arrow when menu is open (points up) */
.menu-arrow-icon.open {
  transform: rotate(180deg); /* Rotate to point up */
}

/* Mobile view styles */
@media (max-width: 767px) {
  .navbar {
    padding: 10px;
  }

  .navbar-logo {
    margin-bottom: 5px;
    width: 100%; /* Ensure logo spans full width */
  }

  .logo-img {
    width: 100%;
    height: auto;
    max-height: 90vh; /* Ensure logo doesn't get too large */
  }

  .navbar-menu-container {
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    z-index: 2000;
  }

  .navbar-links {
    display: none; /* Initially hidden */
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Darker background */
    z-index: 2000;
    max-height: 0; /* Initially collapsed */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; /* Smooth transition */
  }

  .navbar-links.open {
    display: flex; /* Display menu when open */
    max-height: 500px; /* Adjust max-height for smooth opening */
  }

  .nav-link {
    font-size: 14px;
    padding: 8px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
  }

  .nav-link.active,
  .nav-link:hover {
    color: #ffe100;
  }
}

@media (min-width: 768px) {
  .navbar-links {
    display: flex;
    justify-content: center;
  }

  .nav-link {
    font-size: 16px;
  }
}
