.preorder-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 320px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.preorder-card:hover {
  transform: scale(1.02);
}

/* Image Container */
.preorder-image-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f5f5f5;
}

.preorder-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Artisan Series Logo */
.preorder-header-logo {
  max-width: 160px;
  height: auto;
  display: block;
  /* margin: 0 auto 10px auto; */
  padding-top: 30px;
}

/* Product Info */
.preorder-info {
  padding: 15px;
}

.preorder-title {
  font-size: 20px;
  font-weight: bold;
  /* margin-bottom: 8px; */
  text-align: center;
  color: #222 !important;
}

.preorder-description {
  font-size: 14px;
  text-align: justify;
  color: #222;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
}

.card-preorder-price {
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.delivery-time {
  font-size: 14px;
  color: #666;
}

/* Buttons */
.preorder-button-container {
  margin-top: 10px;
}

.preorder-card-preorder-button {
  background: #b65454;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}

.preorder-card-view-details-button {
  background: #222;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}

.preorder-card-preorder-button:hover,
.preorder-card-view-details-button:hover {
  background: #333;
}