/* PreOrderPage Styles */
.pre-order-page {
  padding: 40px;
  background-color: #f4f4f4f2;
  text-align: center;
  border-radius: 8px;
  margin: 25px 40px 40px 40px;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.pre-order-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.pre-order-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 350px;
  text-align: left;
  transition: transform 0.3s ease;
}

.pre-order-item:hover {
  transform: scale(1.05);
}

.pre-order-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.pre-order-info {
  padding: 20px;
}

.pre-order-info h2 {
  font-size: 1.5rem;
  color: #333;
}

.pre-order-info h3 {
  font-size: 1rem;
  color: #855200;
}

.pre-order-info p {
  font-size: 1rem;
  color: #555;
}

/* Price Styling */
.price-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.price-container p {
  margin: 0;
}

.promo-price {
  color: #007bff;
  font-size: 1.2rem;
  font-weight: bold;
}

.starting-price {
  color: #333;
  font-size: 1rem;
  font-weight: normal;
}

.pre-order-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.pre-order-button:hover {
  background-color: #0056b3;
}

.loading {
  font-size: 1.5rem;
  color: #555;
  text-align: center;
}

@media (max-width: 768px) {
  .pre-order-page {
  margin: 0px 20px 20px 20px;
    padding: 20px;
  }
}