:root {
  --header-text-color: rgb(0, 0, 0);
}

.pre-order-page {
  padding: 14px;
  background-color: #000000c3;
  text-align: center;
}

.pre-order-page-header{
  font-size: 2rem;
  margin-bottom: 10px;
  /* color: rgb(0, 0, 0); */
}

.pre-order-page-header .dark {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #474747;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ffffff;
}

.pre-order-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.pre-order-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures content fills space */
  height: 100%; /* Makes sure all cards have equal height */
  padding: 20px;
  border: 1px solid #ddd;
  background: white;
}

.pre-order-page-header {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white; /* Set text color to white */
}

.pre-order-page-header .dark {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white; /* Ensure that dark mode also uses white color */
}

.pre-order-description {
  flex-grow: 1; /* Allows it to expand and fill space */
  min-height: 60px; /* Ensures consistent height across cards */
  margin-bottom: 10px; /* Adds space between description and button */
}

.pre-order-bottom {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}