.preorder-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease;
}

.preorder-card:hover {
  transform: scale(1.02);
}

/* Image Container */
.preorder-image-container {
  height: 250px;
  overflow: hidden;
  cursor: pointer;
}

.preorder-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.preorder-header-image {
  max-width: 160px; /* Reduce logo size for better balance */
}

/* Product Description */
.preorder-description {
  font-size: 14px;
  font-family: sans-serif;
  text-align: justify;
  color: #222;
  letter-spacing: 1px;
  margin-bottom: 8px;
  min-height: var(--min-description-height, auto); /* Dynamically set */
  display: flex;
  align-items: center;
  justify-content: center;
}

.preorder-info {
  padding: 15px;
}

.preorder-options-starting-at {
  font-size: 14px;
  color: #666;
}

.card-preorder-price {
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.delivery-time {
  font-size: 14px;
  color: #666;
}

/* Buttons */
.preorder-button-container {
  margin-top: 10px;
}

.preorder-card-preorder-button {
  background: #b65454;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}

.preorder-card-view-details-button {
  background: #222;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}

.preorder-card-preorder-button:hover,
.preorder-card-view-details-button:hover {
  background: #333;
}