.pre-order-page {
  padding: 40px;
  background-color: #f8f8f8;
  text-align: center;
}

.pre-order-page-header {
  font-size: 2rem;
  margin-bottom: 10px;
  color: black;
}

.pre-order-page-header .dark {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #555;
}

.pre-order-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}