.products-container {
  padding: 20px;
  background-color: #f4f4f4f2;
  text-align: center;
  border-radius: 8px;
  margin: 40px;
}

.page-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 25px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));  /* Standard grid */
  gap: 20px;  /* Adjust spacing between cards */
  padding: 0 20px;
  justify-items: center;
}

/* Mobile View – Two Products per Row */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);  /* Forces two columns on mobile */
    gap: 10px;  /* Smaller gap for compact layout */
  }

  .products-container {
    margin: 20px;
    padding: 20px;
  }

}

/* Smaller Screens (Stack on top of each other) */
@media (max-width: 480px) {
  .product-grid {
   padding:0px 10px 20px;
   gap: 25px;
    grid-template-columns: 1fr;  /* One product per row on very small screens */
  }
}

.loading-message,
.no-products-message {
  font-size: 1.2rem;
  text-align: center;
  color: #007bff;
  margin-top: 50px;
}