.register-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .register-input {
    margin-bottom: 16px;
  }
  
  .register-button {
    margin-top: 16px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 1rem;
  }
  
  .password-rules ul {
    list-style-type: none;
    padding: 0;
  }
  
  .password-rules li {
    margin-bottom: 0.5rem;
  }
  