.shop-container {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 220px;  /* Increased width for larger cards */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  background-color: #d8d8d8e3;
  transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.product-image {
  width: 100%;
  height: 180px;  /* Increased height for larger images */
  object-fit: cover;
}

.product-info {
  padding: 10px;
  color: #000000;
  text-align: center;
}

.product-name {
  font-size: 1.2rem;  /* Adjusted font size for readability */
  margin: 0 0 5px;
}

.product-description {
  font-size: 1rem;  /* Adjusted font size for description */
  margin: 0 0 10px;
}

.product-price {
  font-size: 1.1rem;  /* Adjusted font size for price */
  margin: 0;
}

/* Styling for the Add to Cart button */
.add-to-cart-button {
  background-color: #45a049;  /* Green background */
  color: white;  /* White text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.875rem;
  margin-top: 10px;
  transition: background-color 0.5s;
}

.add-to-cart-button:hover {
  background-color: #45a049;  /* Darker green on hover */
}

/* Styling for the Remove from Cart button */
.remove-from-cart-button {
  background-color: #45a049;  /* Red background */
  color: white;  /* White text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.875rem;
  margin-top: 10px;
  transition: background-color 0.5s;
}

.remove-from-cart-button:hover {
  background-color: #0e5611;  /* Green background */
  ;  /* Darker red on hover */
}

/* Responsive styles for mobile devices */
@media (max-width: 767px) {
  .product-card {
    width: 100%;  /* Full width for smaller screens */
    max-width: 300px;  /* Limit maximum width */
  }

  .product-image {
    height: 150px;  /* Adjusted image height for better fit */
  }
}
