/* src/components/Shop.css */
.shop-container {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.29);
  background-color: #313031ee;
}

.item-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.item-info {
  padding: 10px;
  color: #ffffffc5;
}
