/* src/components/SignInEmail.css */
.signin-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }
  
  .signin-form {
    display: flex;
    flex-direction: column;
  }
  
  .signin-form .MuiTextField-root {
    margin-bottom: 16px;
  }
  
  .signin-form .MuiButton-root {
    margin-top: 16px;
  }
  