.app-container {
  position: relative;
  min-height: 100vh; /* Ensure the container covers the full viewport height */
  overflow: hidden; /* Prevent scrolling on the body */
}

.background-video-container {
  position: fixed; /* Fixes the video to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Ensure the video stays behind all other content */
}

.background-video, .background-video-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire viewport */
}

/* Hide mobile video on non-mobile devices */
@media (min-width: 768px) {
  .background-video-mobile {
    display: none;
  }
}

/* Hide web video on mobile devices */
@media (max-width: 767px) {
  .background-video {
    display: none;
  }
}

.app-content {
  position: relative;
  z-index: 1; /* Ensure the content is above the video */
}
