.App {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100vh; /* Ensure the app takes full height of the viewport */
  margin: 0; /* Remove default margin */
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Ensure the video is behind other content */
}

.background-video-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-content {
  position: relative;
  z-index: 1; /* Ensure content appears above the background video */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
