/* Global Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 2s ease-in-out, color 2s ease-in-out;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  transition: background-color 2s ease-in-out, color 2s ease-in-out;
}

/* Light Mode Styles */
body.light {
  background-color: #ffffff;
  color: #000000;
}

body.light .navbar,
body.light .footer,
body.light .app-content {
  /* background-color: #f0f0f0; */
  /* color: #000000; */
}

/* Dark Mode Styles */
body.dark {
  /* background-color: #000000; */
  color: #ffffff;
}

body.dark .navbar,
body.dark .footer,
body.dark .app-content {
  /* background-color: #222; */
  color: #ffffff;
}

body.dark .cart-preview {
  background-color: #333;
  border: 1px solid #444;
  color: #ffffff;
}

body.dark * {
  color: #ffffff; /* Keep text color white */
}